<!DOCTYPE html>
<html ng-app="ShoppingListApp">
    <head>
        <meta charset="utf-8">
        <script src="angular-min.js"></script>
        <script src="app.js"></script>
        <!-- <script src="prototypal.js"></script> -->
        <style>
              body{font-size: 1.2em;}
        </style>
    </head>
    <title> Custom Services </title>
    <body>
          <h1>Custom Services</h1>
          <div ng-controller="ShoppingListAddController as itemAdder">
              <p>Item Name : <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
                Item Quantity : <input type="text" ng-model="itemAdder.itemQuantity" placeholder="item Quantity"></p>
              <p><button ng-click="itemAdder.addItem();">Add Item To Shopping List</button></p>
          </div>

          <div ng-controller="ShoppingListShowController as showList">
            <ol>
              <li ng-repeat="item in showList.items">
                {{item.quantity}} of {{item.name}}  <button ng-click="showList.removeItem($index);">Remove Item</button>
                <!-- removeItem function specific index use to parameter $index -->
              </li>
            </ol>
          </div>
    </body>
</html>
