<!DOCTYPE html>
<html ng-app="CounterApp">
    <head>
        <meta charset="utf-8">
        <script src="angular-min.js"></script>
        <script src="app.js"></script>
        <style>body {font-size:1.2em;}</style>
        <title>ng-repeat</title>
    </head>
    <body>
          <h1>The Digest Cycle</h1>
          <div ng-controller='CounterController'>
              <button ng-click="showNumberOfWatchers()">
                Log# of Watchers</button>
                <input type="text" ng-model="name">
              <div>
                It will show only one time count watcher value of new and old :  <button ng-click="countOnce()"> Up Once Counter (once)</button><br>
                It will show Increment count watcher value of new and old :  <button ng-click="upCounter()"> increement</button>
              </div>
              <div>
                    once counter :{{onceCounter}}<br>
                    regular counter :{{counter}}
              </div>
          </div>

    </body>
</html>
